allow isolated_app content_capture_service:service_manager { find };
allow isolated_app proc_pid_max:file { read };
allow isolated_app system_bootstrap_lib_file:dir { getattr };
