allow untrusted_app window_service:service_manager { find };
allow untrusted_app cgroup_desc_file:file { getattr };
allow untrusted_app proc:file { getattr };
allow untrusted_app proc_iomem:file { getattr };
allow untrusted_app proc_keys:file { getattr };
allow untrusted_app proc_kmsg:file { getattr };
allow untrusted_app proc_locks:file { getattr };
allow untrusted_app proc_misc:file { getattr };
allow untrusted_app proc_pid_max:file { read };
allow untrusted_app proc_stat:file { getattr };
allow untrusted_app proc_swaps:file { getattr };
