on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/hbm
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display/hbm

service vendor.livedisplay-hal /vendor/bin/hw/vendor.lineage.livedisplay-service.surya
    class late_start
    user system
    group system
    task_profiles ServiceCapacityLow
